@import "tailwindcss";

*{
  overflow-x: hidden;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* required for absolute pseudo-elements */
 max-width: 100vw;
  background-color: #ffffff; /* base background, change if needed */
  
}


