@import "tailwindcss";




body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* required for absolute pseudo-elements */

  background-color: #ffffff; /* base background, change if needed */
  
}


